body {
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* --- Begin Navigatie --- */
.navbar {
  font-weight: bold;
  font-size: x-large;
  border-bottom: 2px solid aqua;
}

a.nav-link{
  color: fuchsia;
}

a.nav-link:hover{
  color: aqua;
}
/* --- Einde Navigatie --- */

/* *** Begin tabellen *** */
/* #talen {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

#talen th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: fuchsia;
  color: black;
}

#talen td, #talen th {
  border: 1px solid fuchsia;
}

#pc {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

#pc th, #pc td {
  border: 1px solid aqua;
}

caption {
  padding-top: 15px;
} */
/* *** Einde tabellen *** */

/* .studie {
  background-image: url(../images/studie.jpg);
  background-color: black;
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */

/* .work {
  background-image: url(../images/work.jpg);
  background-color: black;
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.work ul.content-left {
  padding-left: 50%;
  color: white;
}

.work li:hover, .studie li:hover {
  background-color: lightslategray;
}

.img-left {
  width: 50%;
  float: left;
} */

/* .img-right {
  width: 50%;
  float: right;
}

.content-left {
  width: 50%;
  float: left;
  padding-top: 150px;
}

.content-right {
  width: 50%;
  float: right;
  padding-top: 150px;
}

.content-center {
  padding-left: 25%;
  padding-right: 25%;
  clear: both;
  text-align: center;
}

.ervaring-center {
  padding-left: 25%;
  padding-right: 25%;
} */

/* *** Begin form *** */
/* form {
  color: aqua;
  text-align: center;
}

.left-form {
  padding-left: 25%;
  float: left;
  text-align: left;
}

.right-form {
  padding-right: 25%;
  float: right;
  text-align: left;
}

.center-form {
  width: 100%;
  clear: both;
  text-align: center;
}

input[type="text"],[type="email"],[type="tel"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea, input[name="subject"] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"]{
  background-color: fuchsia;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: aqua;
} */
/* *** Einde form *** */

/* body.main {
  background-image: url(../images/AchtergrondIndex.jpg);
  background-color: black;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body.main p {
  color: fuchsia;
  font-size: x-large;
}

p#eerst {
  padding-left: 60%;
  text-align: left;
}

p#laatst {
  padding-left: 50%;
  text-align: right;
}

body.main header {
  padding-left: 50%;
  color: aqua;
}

header{
  color: fuchsia;
  font-family: 'Courgette', cursive, Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
}

.aqua {
  color: aqua;
  text-align: left;
  padding-left: 10px;
  padding-top: 200px;
}

h2 {
  color: aqua;
  font-family: 'Courgette', cursive;
  text-align: left;
}

a {
  color: white;
  text-decoration: underline fuchsia;
}

h2 {
  text-align: center;
  clear: both;
}

a:hover {
  background-color: fuchsia;
} */

/* p {
  text-align: center;
}

li {
  padding-top: 8px;
  padding-bottom: 8px;
}

.up {
  text-align: center;
  clear: both;
}

.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

img {
  padding-bottom: 20px;
}

.aqua a {
  color: aqua;
}

.studie-left {
  width: 50%;
  text-align: left;
}

.work-right {
  padding-left: 50%;
  text-align: left;
}

footer {
  color: fuchsia;
  font-weight: bold;
  text-align: right;
  bottom: 0;
  right: 25px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .content-left,
  .content-right {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }
} */