body {
    background-color: black;
}


/* *** Begin Navigatie *** */
nav ul {
list-style-type: none;
background-color: black;
padding: 0%;
margin: 0%;
overflow: hidden;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: fuchsia;
    text-align: right;
    padding: 20px 16px;
    text-decoration: none;
  }

  .logo-img {
    float: left;
    display: block;
    height: 50px;
  }

  li a:hover {
    background-color: white;
    color: black;
  }

  li.active {
    background-color: aqua;
  }

/* *** Einde Navigatie *** */

header {
  color: fuchsia;
  font-family: 'Courgette', cursive;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
}

p {
  color: white;
}

.center {
  text-align: center;
}

form {
  color: white;
  text-align: center;
}

footer {
  background-color: aqua;
  color: fuchsia;
  padding: 14px;
  font-weight: bold;
  text-align: right;
}
