body {
    background-color: black;
}


/* *** Navigatie *** */
nav ul {
list-style-type: none;
background-color: black;
padding: 0%;
margin: 0%;
overflow: hidden;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: fuchsia;
    text-align: right;
    padding: 20px 16px;
    text-decoration: none;
  }

  .logo-img {
    float: left;
    display: block;
    height: 50px;
  }

  li a:hover {
    background-color: white;
    color: black;
  }

  li.active {
    background-color: aqua;
  }

  #background-img {
    background-image: url(../Fotos/AchtergrondIndex.jpg);
    background-color: black;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
